<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Vue Setup</title>
        <link type="text/css" src="./public/app.css">
        
    </head>
    <body>
        <div id="app">
            {{ message }}
        </div>
        <div id="app2">
            <span v-bind:title="message">
                Hover your mouse of this for a few seconds and see some dynamic magic!
            </span>
        </div>
        <div id="app3">
            <span v-if="seen">
                Now you see me!
            </span>
        </div>
        <div id="app4">
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </body>
</html>